<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>海淀区应急指挥中心</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="style/lib/select2-4.0.4.css">
<link rel="stylesheet" href="style/style.css">
<script src="js/lib/jquery-3.1.1.js"></script>
<script src="js/lib/vue-2.4.2.js"></script>
<script src="js/lib/select2-4.0.4.js"></script>
<script src="js/common.js"></script>
<script src="js/popup/index.js"></script>
<script src="js/popup/share.js"></script>
<script src="js/popup/feed.js"></script>
<script src="js/popup/mark.js"></script>
<script src="//api.map.baidu.com/getscript?v=2.0&ak=8d1c8a0d9c790517bee1b68417ec625d&t=20170703123905"></script>
<script src="js/map.js"></script>
<script src="js/search.js"></script>
<script src="js/lib/zingtouch-1.0.5.js"></script>
<script src="js/pen.js"></script>
<script src="js/view.js"></script>
<script src="js/index.js"></script>
</head>

<body>
<div id="app" class="app">
    <component is="maps"></component>
    <component is="search"></component>
    <component v-if="view" is="views" @close="view = null"></component>
</div>
<script>
app.start();
</script>
</body>
</html>
