* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font: 14px / 1.2 sans-serif;
}
button, input, select, textarea,
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
h1, h2, h3, h4, h5, h6,
address, em, i, b,
caption, th {
    font-weight: normal;
}
em {
    font-style: normal;
}
ul, ol, li {
    list-style: none;
}
a {
    text-decoration: none;
}
a, button, input, select, textarea {
    outline: 0;
}
button {
    border: 0;
    background-color: transparent;
}
fieldset, img {
    border: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}
input[type="search"] {
    -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
.clearfix:after {
    content: ".";
    display: block; 
    clear: both; 
    height: 0; 
    font-size: 0; 
    visibility: hidden;
}
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}
::-webkit-scrollbar-thumb {
    background: #c2c2c2;
    border: 0;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #999;
}
::-webkit-scrollbar-track {
    background: transparent;
    border: 0;
    border-radius: 0;
}
::-webkit-scrollbar-track:hover {
    background: #fafafa;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
html, body {
    height: 100%;
    overflow: hidden;
}
.app,
.map {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.map-bd {
    height: 100%;
}
.camera-tools {
    display: flex;
    justify-content: center;
    .item-main {
        flex-grow: 1;
        position: relative;
        span {
            position: absolute;
            left: 0;
            top: 50%;
            width: 100%;
            transform: translateY(-50%);
            padding-left: 55px;
        }
    }
}
.camera-tools-item {
    position: relative;
    margin-left: 7px;
    &:first-child {
        margin-left: 0;
    }
    em,
    > button {
        display: inline-block;
        width: 48px;
        height: 48px;
        border-radius: 100px;
        background: rgba(255, 255, 255, 0.4);
        background-repeat: no-repeat;
        background-position: center center;
        vertical-align: middle;
    }
    em {
        background-color: #FFA500;
        background-image: url(../images/camera.svg);
    }
    .item-panorama {
        background-image: url(../images/panorama.svg);
    }
    .item-camera {
        background-image: url(../images/camera2.svg);
    }
    .item-video {
        background-image: url(../images/video.svg);
    }
    .item-more {
        background-image: url(../images/more.svg);
    }
    .item-share {
        background-image: url(../images/share.svg);
    }
    .item-feed {
        background-image: url(../images/feed.svg);
    }
    .item-mark {
        background-image: url(../images/mark.svg);
    }
}
.camera-popup {
    position: fixed;
    z-index: 100;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px 10px 0 10px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAABGdBTUEAALGPC/xhBQAAAD1JREFUGBljvHLhwn8GHIARSZwJiY3BRDYBr0KQTphiggphiolSCFJMvEKYG0C68AHiTQSZQoypcBMJKQYAEXoJgry6g4oAAAAASUVORK5CYII=);
    .camera-tools {
        width: 300px;
        margin: 0 auto;
        padding-bottom: 10px;
        li {
            flex-grow: 1;
            text-align: center;
        }
        span {
            display: block;
            color: #000;
            line-height: 1.5;
        }
    }
}
.camera-popup-close {
    display: block;
    width: 100%;
    height: 60px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    background: none;
    font-size: 19px;
}
.search {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding: 10px;
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}
.search-text {
    position: relative;
    max-width: 345px;
    margin: 0 auto;
    height: 100%;
}
.search-form {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.search-toggle {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 48px;
    height: 48px;
    background: rgba(255, 255, 255, 0.8) url(../images/search.svg) no-repeat center center;
    border-radius: 100px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
}
.search-field {
    display: block;
    width: 100%;
    padding: 10px 50px;
    border: 0;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.3) url(../images/search-field.svg) no-repeat 15px center;
    line-height: 28px;
    font-size: 16px;
}
.search-clear,
.search-text-voice {
    position: absolute;
    right: 5px;
    top: 0;
    width: 48px;
    height: 48px;
    background: no-repeat center center;
}
.search-clear {
    background-image: url(../images/search-clear.svg);
}
.search-text-voice {
    background-image: url(../images/voice.svg);
}
.suggest {
    height: 100%;
    padding-top: 70px;
    li {
        margin-bottom: 10px;
        padding: 15px;
        border-radius: 12px;
        background: rgba(255, 255, 255, 0.3);
    }
}
.suggest-bd {
    position: relative;
    height: 100%;
    overflow: auto;
    outline: 0;
    -webkit-overflow-scrolling: touch;
}
.suggest-item-aside {
    float: left;
    width: 128px;
    height: 72px;
    margin-right: 10px;
    border-radius: 5px;
    background: #D8D8D8;
}
.suggest-item-main {
    overflow: hidden;
    color: #fff;
    h3 {
        margin-bottom: 5px;
    }
}
.search-voice {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
}
.search-voice-hd {
    width: 70%;
    max-width: 400px;
    margin: 120px auto 0 auto;
    font-size: 24px;
    text-align: center;
}
.search-voice-ft {
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 100%;
    text-align: center;
    label {
        display: block;
        font-size: 18px;
    }
}
.search-voice-button {
    position: relative;
    width: 56px;
    height: 56px;
    margin: 10px auto;
    button {
        display: block;
        position: relative;
        z-index: 10;
        width: 56px;
        height: 56px;
        border-radius: 100px;
        background: #0B78E3 url(../images/search-voice.svg) no-repeat center center;
    }
    &:before,
    &:after {
        display: none;
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        border: 2px solid rgba(11, 120, 227, 0.4);
        border-radius: 200px;
        width: 56px;
        height: 56px;
        animation: voice 1s infinite;
    }
    &:before {
        background: rgba(11, 120, 227, 0.05);
    }
    &:after {
        animation: voice 3s infinite;
    }
    &.selected {
        &:before,
        &:after {
            display: block;
        }
    }
}
@keyframes voice {
    from {
        width: 56px;
        height: 56px;
    }
    to {
        width: 110px;
        height: 110px;
        opacity: 0.5;
    }
}
.search-close {
    position: absolute;
    right: 20px;
    bottom: 70px;
    width: 36px;
    height: 36px;
    background: url(../images/close.png) no-repeat center;
}
.view {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
}
.view-close {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 28px;
    height: 28px;
    background: url(../images/close.svg) no-repeat center center;
    background-size: cover;
}
.view-ctrl {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.view-bd {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    &:before {
        content: "";
        display: block;
        padding-top: 56%;
    }
}
.view-selected-compass,
.view-selected-direction {
    width: 100%;
    .view-bd {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
    }
}
.view-bd-main {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.view-tools {
    display: flex;
    position: absolute;
    left: 10px;
    bottom: 10px;
    align-items: center;
    .camera-tools {
        li {
            margin-left: 15px;
            + li {
                margin-left: 15px;
            }
        }
    }
}
@media screen and (orientation: portrait) {
    .view {
        .camera-tools {
            display: none;
        }
    }
}
@media screen and (orientation: landscape) {
    .view-bd {
        width: 100vh * 16 / 9;
        height: 100%;
    }
}
.select {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 70px;
    width: 240px;
    border-radius: 8px;
    margin-left: -120px;
    background: #fff;
    text-align: center;
    font-size: 14px;
    .selected > & {
        display: block;
    }
    h2 {
        line-height: 30px;
        color: #000;
    }
    &:after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -10px;
        margin-left: -9px;
        width: 0;
        height: 0;
        overflow: hidden;
        border-top: 10px solid #fff;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
    }
}
.select-bd {
    display: flex;
    border-top: 1px solid #000;
    button {
        display: block;
        width: 100%;
        height: 35px;
    }
    li {
        width: 50%;
    }
    li + li {
        border-left: 1px solid #000;
    }
}
.popup-wrap {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.popup {
    position: fixed;
    left: 10px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 12px;
    background: #fff;
}
.popup-hd {
    line-height: 60px;
    text-align: center;
    font-size: 18px;
}
.share-popup-bd {
    padding: 0 10px 10px 10px;
    input {
        width: 100% !important;
    }
}
.tab-button {
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 0;
    button {
        width: 75px;
        height: 30px;
        border: 1px solid #0076FF;
        color: #0076FF;
        font-size: 14px;
        &:first-child {
            border-radius: 4px 0 0 4px;
        }
        &:last-child {
            border-radius: 0 4px 4px 0;
        }
    }
    .selected {
        background: #0076FF;
        color: #fff;
    }
}
.checklist {
    max-height: 384px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    label {
        display: block;
        width: 100%;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        line-height: 47px;
        &:first-child {
            border-top: 0;
        }
    }
    input {
        margin: 0 10px;
        vertical-align: middle;
    }
}
.popup-ft {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    button {
        display: block;
        width: 50%;
        height: 43px;
        color: #0076ff;
        font-size: 17px;
        + button {
            border-left: 1px solid rgba(0, 0, 0, 0.1);
        }
    }
}
.mark-title {
    padding: 10px 15px;
    background: rgba(0, 0, 0, 0.1);
}
.mark-list {
    padding: 0 15px;
    li {
        margin: 20px 0;
    }
    label {
        display: block;
        margin-bottom: 10px;
        font-size: 17px;
    }
    select {
        display: block;
        width: 100%;
        height: 25px;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }
}
.map-popup {
    position: absolute;
    z-index: 50;
    transform: translateX(-50%) translateY(-100%);
    margin: -5px 0 0 25px;
    width: 256px;
    border: 1px solid #C3C3BC;
    background: #fff;
    padding: 20px;
    h3 {
        margin-bottom: 10px;
    }
    &:after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -24px;
        margin-left: -15px;
        width: 30px;
        height: 30px;
        background: url(../images/arrow.svg) no-repeat center bottom;
    }
}
.map-popup-bd {
    margin-bottom: 10px;
    height: 120px;
    overflow: hidden;
}
.map-popup-ft {
    display: flex;
    justify-content: space-between;
    button {
        padding-left: 30px;
        background-repeat: no-repeat;
        background-position: left center;
        color: #747474;
    }
    .map-popup-live {
        padding-left: 25px;
    }
}
.map-popup-live {
    background-image: url(../images/live.svg);
}
.map-popup-screenshot {
    background-image: url(../images/screenshot.svg);
}
.map-popup-video {
    background-image: url(../images/video2.svg);
}
.map-popup-close {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 16px;
    color: #999;
}
.multilevel {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    pointer-events: none;
    button, a {
        pointer-events: auto;
    }
}
.multilevel-reset {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 50;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.3) url(../images/multilevel-reset.svg) no-repeat center center;
    background-size: 20px;
}
.multilevel-item {
    position: relative;
    line-height: 45px;
    pointer-events: auto;
    background: rgb(243, 241, 236);
    a {
        display: inline-block;
        padding: 0 12px;
        color: #666;
        font-size: 16px;
    }
}
.multilevel-sub  {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    .multilevel-selected {
        color: #000;
    }
}
@for $i from 1 through 10 {
    .multilevel-#{$i} {
        z-index: 30 - $i;
    }
}
.slidedown-enter-active,
.slidedown-leave-active {
    transition: all 0.5s;
}
.slidedown-enter,
.slidedown-leave-to {
    margin-top: -45px;
}
.multilevel-item-bd {
    white-space: nowrap;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.multilevel-1 {
    background: rgba(0, 0, 0, 0.9);
    line-height: 50px;
    a {
        padding: 0 23px;
        color: #9B9B9B;
        font-size: 18px;
    }
    .multilevel-selected {
        color: #fff;
    }
}
.multilevel-2 {
    background: #E8E8E8;
}
.multilevel-3 {
    background: #F5F5F7;
}
.multilevel-result {
    position: relative;
    flex-grow: 1;
    pointer-events: none;
    ul {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 0 15px;
        background: #fff;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        pointer-events: auto;
    }
    li {
        display: flex;
        padding: 10px;
        border-bottom: 1px solid #DCE2EE;
    }
}
.multilevel-aside {
    width: 128px;
    height: 72px;
    background: #D8D8D8;
    background-size: cover;
}
.multilevel-main {
    padding-left: 10px;
    flex-grow: 1;
}
.multilevel-id {
    margin: 5px 0;
    font-size: 18px;
}
.multilevel-address {
    color: #9B9B9B;
}
.multilevel-top {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 48px;
    height: 48px;
    background: rgba(255, 255, 255, 0.8) url(../images/top.svg) no-repeat center center;
    border-radius: 100px;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
}
