<div class="popup-wrap" v-if="selected">
    <div class="popup mark-popup">
        <h2 class="popup-hd">类型选择</h2>
        <div class="popup-bd">
            <div class="mark-title">确定关注万寿路街道/中国人民解放军后勤指挥学院幼儿园（16054）监控吗？</div>
            <ul class="mark-list">
                <li>
                    <label>类型</label>
                    <select>
                        <option value="">截图</option>
                        <option value="">视频</option>
                        <option value="">全部</option>
                    </select>
                </li>
                <li>
                    <label>定时</label>
                    <select>
                        <option value="">5分钟</option>
                        <option value="">10分钟</option>
                        <option value="">15分钟</option>
                    </select>
                </li> 
            </ul>
        </div>
        <div class="popup-ft">
            <button @click="close" type="button">取消</button>
            <button @click="submit" type="button">确定</button>
        </div>
    </div>
</div>
