<div class="popup-wrap" v-if="selected">
    <div class="popup share-popup">
        <h2 class="popup-hd">转发</h2>
        <div class="popup-bd share-popup-bd">
            <select class="js-example-basic-multiple form-control" multiple="multiple" ref="list" v-select2 style="width: 100%">
                <option value="aa">公安</option>
                <option value="ab">急救</option>
                <option value="ac">消防</option>
                <option value="bd">交警</option>
                <option value="ce">公安</option>
                <option value="fsf">急救</option>
                <option value="sd">消防</option>
                <option value="dsd">交警</option>
                <option value="aff">公安</option>
                <option value="cdfd">急救</option>
                <option value="aa">公安</option>
                <option value="ab">急救</option>
                <option value="ac">消防</option>
                <option value="bd">交警</option>
                <option value="ce">公安</option>
                <option value="fab">急救</option>
                <option value="ddf">消防</option>
                <option value="dfbd">交警</option>
                <option value="aff">公安</option>
                <option value="cdfd">急救</option>
            </select>
        </div>
        <div class="popup-ft">
            <button @click="close" type="button">取消</button>
            <button @click="submit" type="button">确定</button>
        </div>
    </div>
</div>
