<div class="map">
    <div id="map-bd" class="map-bd"></div>
    
    <div class="multilevel">
        <button v-if="selectedId.length > 0" class="multilevel-reset" @click="reset"></button>
        <transition-group name="slidedown" tag="div">
            <div v-for="(one, index) in selected" :key="index" v-if="one.level && one.level.length > 0"
                class="multilevel-item" :class="[ 'multilevel-' + (index + 1), index > 0 ? 'multilevel-sub' : '' ]">
                <div class="multilevel-item-bd">
                    <a href="" v-for="item in one.level" 
                        :class="{'multilevel-selected': item.id === selectedId[index]}"
                        @click.prevent="setId(index, item.id)" v-scrollintoview="item.id === selectedId[index]">{{item.name}}</a>
                </div>     
            </div>
        </transition-group>
        
        <div v-if="lastSelected.cameraList && lastSelected.cameraList.length > 0" class="multilevel-result">
            <ul ref="multilevel-result" @scroll="scroll">
                <li v-for="item in lastSelected.cameraList" @click.prevent="setView(item)">
                    <div class="multilevel-aside" style="background-image: url(https://ss0.baidu.com/6ONWsjip0QIZ8tyhnq/it/u=1671204792,3567887483&fm=58)"></div>
                    <div class="multilevel-main">
                        <h3 class="multilevel-id">{{item.id}}</h3>
                        <p class="multilevel-address">{{item.address}}</p>
                    </div>
                </li>
            </ul>
        </div>
        <a v-if="showButtonTop" href="#" class="multilevel-top" @click.prevent="scrollTop"></a>
    </div>
</div>
