<div class="view">
    <div class="view-bd">
        <div class="view-bd-main" style="background: url(http://img2.imgtn.bdimg.com/it/u=3821120291,3975031552&fm=214&gp=0.jpg) no-repeat center center; background-size: cover;"></div>
        <canvas class="view-bd-main"></canvas>
        <canvas v-if="enableCtrl" ref="pen-canvas" class="view-ctrl"
             v-update-canvas-size
             @mousewheel.prevent="zoom($event)" 
             @wheel.prevent="zoom($event)"
             @touchstart="dragstart($event)"
             @pointerdown="dragstart($event)"
             @pointermove="dragmove($event)"
             @pointerup="dragend"
             @pointerleave="dragend"
             @pointercancel="dragend"></canvas>
    </div>

    <button class="view-close" title="关闭" type="button" @click="$emit('close')"></button>

    <div class="view-tools">
        <ul class="camera-tools">
            <li class="camera-tools-item">
                <button class="item-camera" type="button" title="照片"></button>
            </li>
            <li class="camera-tools-item">
                <button class="item-video" type="button" title="视频"></button>
            </li>
            <li class="camera-tools-item">
                <button @click="popup" class="item-more" type="button" title="更多"></button>
            </li>
        </ul>
    </div>
</div>
